@model NguyenTrungThanhMVC.Models.NewsArticleViewModel

<form asp-action="Create" autocomplete="off">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mb-3">
        <label asp-for="NewsTitle" class="control-label"></label>
        <input asp-for="NewsTitle" class="form-control" />
        <span asp-validation-for="NewsTitle" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Headline" class="control-label"></label>
        <input asp-for="Headline" class="form-control" />
        <span asp-validation-for="Headline" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="CategoryId" class="control-label"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="Model.Categories">
            <option value="">-- Select Category --</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="NewsContent" class="control-label"></label>
        <textarea asp-for="NewsContent" class="form-control" rows="5"></textarea>
        <span asp-validation-for="NewsContent" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label class="control-label">Tags</label>
        <div>
            @if (Model.AllTags != null)
            {
                @foreach (var tag in Model.AllTags)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="SelectedTagIds" value="@tag.TagId" id="tag-@tag.TagId">
                        <label class="form-check-label" for="tag-@tag.TagId">@tag.TagName</label>
                    </div>
                }
            }
        </div>
    </div>

    <div class="form-group form-check mb-3">
        <input class="form-check-input" asp-for="NewsStatus" />
        <label class="form-check-label" asp-for="NewsStatus">
            Publish this article
        </label>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-save="modal">Create</button>
    </div>
</form>